/* * {
        outline: 1px solid black;
    } */

.logo img {
    width: 200px;
}

.nav-list {
    display: none;
}

.btn-search {
    display: none;
}

.button {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    line-height: 1.6rem;
    padding: 6px 12px;
}

.button:hover {
    color: #000;
    text-decoration: none;
    border-radius: 30px;
    background-color: #eee;
}

.button-sign,
.btn-joinus {
    color: #fff;
    background-color: #000;
    border-radius: 30px;
    padding: 6px 14px;
}

.button-sign:hover,
.btn-joinus:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.712);
}

.btn-icons .btn {
    width: 15%;
}

.buttons span {
    font-weight: 700;

}

.mainsec .img-wrap {
    width: 100%;
    background-color: rgb(219, 255, 243);
    overflow: hidden;
}

img {
    width: 100%;
}

.img-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    position: absolute;
    background-color: #fff;
    width: 70%;
    height: 55px;
    border-radius: 30px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.527);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    color: rgb(161, 161, 161);
    padding: 0 20px;

}

.text input {
    border: 1px solid transparent;
    outline-style: none;
    margin-left: 15px;
}

.section-ukraine {
    background-color: #f2f1ec;
}

.section-ukraine .text-ukraine img {
    width: 30px;
    margin-right: 10px;
}

.section-ukraine .text-ukraine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-ukraine-mobile {
    display: none;
    background-color: #f2f1ec;
    padding-bottom: 20px;

}

.section-ukraine-mobile .logo-p {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.section-ukraine-mobile p img {
    width: 30px;

}

.section-ukraine-mobile .img-wrap-ukraine {
    padding: 10px 20px 10px;
}

.section-ukraine-mobile .text-ukraine {
    text-align: left;
    padding-left: 20px;
}


.myCard {
    position: relative;
}

.section-taipei .myCard .item-img-wrap {
    overflow: hidden;

}

.section-taipei .myCard img {
    transition: .5s;
}

.section-taipei .myCard:hover img {
    transform: scale(1.2);
}

.svg-like {
    overflow: visible;
}

.btn-like {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-like:hover {
    background-color: rgb(218, 218, 218);
}

.beach-dest-text {
    margin-top: -50px;
    padding-left: 10px;
    padding-bottom: 20px;
    color: #fff;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.603);
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.733);
}

.section-explore {
    background-color: #faf1ed;
}

.myExploreCard {
    background-color: #fff;
    text-align: center;
    font-weight: 700;
}

.myExploreCard img {
    width: 100%;
    height: 200px;

}

.img-wrap-choice-logo img {
    width: 10%;
}

.img-wrap-background img {
    width: 60%;
}

.section-choice .container {
    height: 500px;
    background: url('https://static.tacdn.com/img2/brand/feed/tc_cards_desktop2x.jpeg') no-repeat;
    background-size: 75%;
    background-position: 100% 0;
}

.section-choice {
    background-color: #004f32;
}

.section-choice .img-wrap-choice-logo img {
    width: 50%;
    margin-top: 40%;
}

.section-choice .text-choice {
    width: 22%;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.section-choice .text-choice h3 {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 700;
}

.section-choice .btn-winner {
    background-color: #000;
    padding: 10px;
    border-radius: 20px;
    width: 60%;
    margin: 30px auto;
}

.section-choice-mobile {
    display: none;
}

.section-choice-mobile .container {
    height: 500px;
    background: url('https://static.tacdn.com/img2/brand/feed/tc_cards_desktop2x.jpeg') no-repeat;
    background-size: 100%;
    background-position: 0 100%;

}

.section-choice-mobile {
    background-color: #004f32;
}

.section-choice-mobile .img-wrap-choice-logo {
    width: 100%;
}

.section-choice-mobile .img-wrap-choice-logo img {
    width: 30%;
    margin-top: 5%;
}

.section-choice-mobile .text-choice {
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.section-choice-mobile .text-choice h3 {
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: 700;
}

.section-choice-mobile .btn-winner {
    background-color: #000;
    padding: 10px;
    border-radius: 20px;
    width: 40%;
    margin: 5px auto;
}

.section-trending ul a {
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

.section-trending .table-hotel p {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 0.6rem;
}

.section-trending .table-hotel div {
    width: 25%;
}

.section-trending-mobile {
    display: none;
    margin-left: 20px;
}


.section-trending-mobile ul a {
    color: #000;
    text-decoration: none;
    font-weight: 700;
}


.section-trending-mobile .table-hotel tr td {
    border: 1px solid transparent;
}

.section-trending-mobile .table-hotel p {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 0.6rem;
}

footer {
    background-color: #faf1ed;

}

.footer-info h6 {
    margin-bottom: 15px;
    font-weight: 700;
}

.footer-info {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 0.6rem;
}

.footer-info span {
    font-weight: 700;
}

.img-wrap-footer-logo {
    width: 40px;
    margin-top: 6px;
}

.img-wrap-footer-logo img {
    width: 100%;
}

.btn-cc {
    width: 200px;
    height: 40px;
    justify-content: space-between;
    background-color: #fff;
    border: 2px solid rgb(211, 211, 211);
    border-radius: 15px;
    font-weight: 700;
}

footer li {
    margin-right: 10px;
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: underline;
}

footer span {
    font-size: 0.7rem;
}

.footer-term-p {
    font-size: 0.7rem;
    width: 85%;
}

.footer-mobile {
    display: none;
}

.footer-mobile {
    padding: 20px;
}

.footer-mobile div {
    width: 100%;
    margin-bottom: 15px;

}

.footer-mobile span {
    font-size: 1.2rem;
    margin-left: 10px;
}

.footer-mobile .btn-cc {
    margin: 20px auto;
}

.footer-mobile .footer-img-wrap {
    width: 50px;
    display: inline-block;
    margin-right: 10px;
}

.footer-mobile .footer-img-wrap img {
    width: 100%;
}

.footer-mobile .span-footer {
    font-size: 0.8rem;
    margin-left: 0;
}

.footer-mobile .footer-bottom {
    width: 80%;
}


@media screen and (max-width: 400px) {
    .nav-list {
        display: block;
    }

    .logo {
        margin: 0 auto;
    }


    .btn-search {
        display: block;
        font-weight: 700;
        margin-right: 10px;
    }

    .logo-right-button {
        display: none;
    }

    .btn-icons .btn {
        width: 50%;
    }

    .img-text .img-wrap img {
        width: 200%;
    }

    .section-ukraine {
        display: none;
    }

    .section-ukraine-mobile {
        display: block;
    }

    .section-choice {
        display: none;
    }

    .section-choice-mobile {
        display: block;
    }

    .section-trending {
        display: none;
    }

    .section-trending-mobile {
        display: block;
    }

    footer {
        display: none;
    }

    .footer-mobile {
        display: block;
    }
}